@page "/"
@using HRAppMudBlazorProject.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.ComponentModel.DataAnnotations
@inject HttpClient _httpClient
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<PageTitle>Index</PageTitle>

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <!-- Total Employee Count -->
            <div class="col-xl-12 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2" style="background-color: #29B6F6 !important;">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2 text-center">
                                <div class="h5 font-weight-bold text-white text-uppercase mb-1 text-center">
                                    Total Employee
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-white text-center">@employees.Count</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <!-- Total Department Count -->
            <div class="col-xl-12 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2" style="background-color: #29B6F6 !important;">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2 text-center">
                                <div class="h5 font-weight-bold text-white text-uppercase mb-1 text-center">
                                    Total Department
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-white text-center">@departments.Count</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <!-- Total Designation Count -->
            <div class="col-xl-12 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2" style="background-color: #29B6F6 !important;">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2 text-center">
                                <div class="h5 font-weight-bold text-white text-uppercase mb-1 text-center">
                                    Total Designation
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-white text-center">@designations.Count</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </MudItem>

        <MudItem xs="12" sm="6" md="6">
            <h3 class="text-center">Chart</h3>
            <MudChart ChartType="ChartType.Donut" Width="300px" Height="300px" InputData="@genderData" InputLabels="@genders">
                <CustomGraphics>
                    <text class="donut-inner-text" x="47%" y="35%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="2">Total</text>
                    <text class="donut-inner-text" x="47%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="5">@genderData.Sum().ToString()</text>
                </CustomGraphics>
            </MudChart>
        </MudItem>

        @* <MudItem xs="12" sm="6" md="4">
            <table>
            <tr>
            <th>Check</th>
            <th>Count</th>
            </tr>
            <tr>
            <td>D1</td>
            <td>1</td>
            </tr>
            </table>
            </MudItem>*@

        <MudItem xs="12" sm="6" md="6">
            <h3 class="text-center">Calender</h3>
            <MudDatePicker PickerVariant="PickerVariant.Static" Date="@(DateTime.Today)" />

        </MudItem>

    </MudGrid>
</MudContainer>

@code {
    public double[] genderData;
    public string[] genders = { "Male", "Female", "Others" };

    private List<Employee> employees = new();
    private List<Department> departments = new();
    private List<Designation> designations = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            departments = await Http.GetFromJsonAsync<List<Department>>("api/Departments");
            designations = await Http.GetFromJsonAsync<List<Designation>>("api/Designations");
            employees = await Http.GetFromJsonAsync<List<Employee>>("api/Employees");
            genderData = await Http.GetFromJsonAsync<double[]>("api/dashboard/GenderData");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

    }
}