@page "/employee"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using HRAppMudBlazorProject.Shared
@*@attribute [Authorize]*@
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Employee</h1>

<p><a href="employee/add">Add</a></p>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @*<th>ID</th>*@
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Gender</th>
                <th>DepartmentID</th>
                <th>DesignationID</th>
               @* <th>Join Date</th>*@
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employees)
            {
                <tr>
                    @*<td>@employee.ID</td>*@
                    <td>@employee.Name</td>
                    <td>@employee.Address</td>
                    <td>@employee.Email</td>
                    <td>@employee.ContactNumber</td>
                    <td>@employee.Sex</td>
                    <td>@employee.DepartmentID</td>
                    <td>@employee.DesignationID</td>@*
                    <td>@employee.JoinDate</td>*@
                    <td>Edit | Delete</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Employee> employees = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            employees = await Http.GetFromJsonAsync<List<Employee>>("api/Employees");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
